<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>
<div class="row">
		<%= render 'form' %>
</div>

<a href="<%= signup_path %>" class="btn btn-inverse footer_navigation">
	<span>
		Sign up
	  <i class="fui-arrow-right"></i>
	</span>
</a>

<div class="clear"></div>
