<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>
<div class="row">
		<div class="alert alert-block alert-danger fade in" style="margin:10px auto; center; width: 350px;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <p>Please Sign in to manage your Blog !</p>
    </div>
		<%= render 'form' %>
</div>

<a href="<%= signup_path %>" class="btn btn-inverse footer_navigation">
	<span>
		Sign up
	  <i class="fui-arrow-right"></i>
	</span>
</a>

<div class="clear"></div>
