<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
		<%= render 'form' %>
</div>

<a href="<%= signin_path %>" class="btn btn-inverse footer_navigation">
	<span>
    <i class="fui-arrow-left"></i>
    Back
  </span>
</a>

<div class="clear"></div>